.cart__item {
    position: relative;

    .cart__price {
        position: absolute;

        bottom: 0;
        right: 0;

        font-weight: 400;
    }
}
.cart__total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 20px;

    &-price {
        font-size: 20px;
        font-weight: 700;
    }
}
.button__field {
    display: flex;
}
